.test-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  @media screen and (min-width: 1280px) {
    display: none;
  }

  .grid-item {
    background-color: rgb(104, 99, 99);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 0.5em;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
}

.rectangle {
  background-color: #7079a1;
  color: white;
  border-radius: 0.5em;
  width: 320px;
  margin: auto;
  text-align: center;
}

.test-item {
  background-color: #8ccc9c;
  border-radius: 0.5em;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.hvr:hover {
  background-color: #679672;
  cursor: pointer;
}

.clc:hover {
  cursor: pointer;
}

.clc:active {
  background-color: #679672;
}

.h-c:hover {
  background-color: #d4fddd;
  cursor: pointer;
}

.h-c:active {
  background-color: #38523e;
  cursor: pointer;
  color: white;
}
